  <div id="main">
    <% form_remote_tag(:url => {:action => :find}) do%>
      <div id="form" >
	<label for="address">Address:</label>
	<%= text_field_tag "address" %>
	<%= submit_tag "Find" %>
      </div>
    <% end %>
    <%= @map.div %>
    <div id="notice" style="display:none;"></div>
  </div>